:root {
    --main-text: #000;
    --main-color: #212563;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* button{
    width: 30px;
    height: 30px;
    background-color: var(--main-color);
    border: none;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 8px;
    color: white;
    font-weight: 900;
    font-size: 24px;
} */

.screen{
    padding: 30px;
    border: solid 1px;
}

h3{
    font: normal normal 400 16px/20px Poppins;
    margin-bottom: 4px;
}
h3 .viewVar{
    font: normal normal 600 20px/20px Poppins;
    margin-top: 0;
}

.setting{
    padding: 30px;
    border: solid 1px;
    margin-top: 30px;
}

.ceReglage{
    width: *10px;
}

h4{
    display: inline-block;
    margin-bottom: 4px;
}




.minus{
    background: #a83632;
    border-radius: 6px;
    border: none;
    height: 30px;
    width: 30px;
    margin-left: 10px;
    color: white;
    font-weight: 500;
    font-size: 20px;
    font-family: inherit;
    padding: 0;

}

.plus{
    background: #32a854;
    border-radius: 6px;
    border: none;
    height: 30px;
    width: 50px;
    margin-left: 4px;
    color: white;
    font-weight: 500;
    font-size: 20px;
    font-family: inherit;
    padding: 0;

}

.plus:hover{
    opacity: 0.7;
}
.minus:hover{
    opacity: 0.7;
}

input{
    width: 200px;
    height: 30px;
    border-radius: 6px;
    border: solid 1px gray;
}

.validBut{
    width: 100px;
    height: 30px;
    background-color: gray;
    font-family: inherit;
    border: none;
    border-radius: 6px;
    padding: 0;
}
