:root {
    --main-text: #000;
    --main-color: #212563;
    }

button{
    width: 30px;
    height: 30px;
    background-color: var(--main-color);
    border: none;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 8px;
    color: white;
    font-weight: 900;
    font-size: 24px;
}